<section class="hero-section">
    <div class="container">
        <h1 class="hero-title">Привіт, я Front-end developer</h1>
        <button class="button-order" type="button">Запропонувати вакансію
            <a href="" class="button-order-link"></a>
            <svg class="btn-order-icon">
                <use href=""></use>
            </svg>
        </button>
        <button class="button-order" type="button">Замовити проєкт
            <a href="" class="button-order-link"></a>
            <svg class="btn-order-icon">
                <use href=""></use>
            </svg>
        </button>
    </div>
</section>