<section class="hero-section">
    <div class="container">
        <h1 class="hero-title">Привіт, я Front-end developer</h1>
        <button class="button-order" type="button"> 
            <a href="" class="button-order-link"></a>
            <svg class="btn-order-icon">
                <use href=""></use>
            </svg>
            Запропонувати вакансію
        </button>
        <button class="button-order" type="button">
            <a href="" class="button-order-link"></a>
            <svg class="btn-order-icon">
                <use href=""></use>
            </svg>
            Замовити проєкт
        </button>
    </div>
</section>